@charset "UTF-8";
/*
em HTML é id = em CSS é # (so pode 1 elemento)
em HTML é class = em CSS é . (varios elementos)
*/

body{
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(4, 109, 0);
}
h1#principal{
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: rgb(0, 255, 0);
}
h2{
    color: rgb (51, 77, 49);
}
h2.basico{
    color: green;
}
h2.intermediario{
    color: orange;
}
h2.avancado{
    color: red;
}
.destaque{
    background-color: rgba(255, 255, 0, 0.582);
}